body{
  background: #ededef;
}
.app-wrapper{
  max-width: 1150px;
  margin:0 auto;
  margin:0 auto;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "header header"
  "nav content";
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}
.content-wrapper{

}
.app-wrapper-content{
  grid-area: content;
  /*padding: 10px;*/
  background: #fff;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 18px;
  border:1px solid rgba(98, 98, 98, 0.3);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
}





